@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
    max-width: 1068px;
    margin: 0 auto;
    padding: 0 17px;
  }


.packageCard:hover .packageCardButton {
  opacity: 1;
}
.packageCard:hover .topCard {
  opacity: 1;
}

.packageCard:hover .packageCardTop {
  @apply shadow-lg
}
